name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    # Runs at 12am UTC every day
    - cron: '0 0 * * *'

jobs:
  update-readme:
    name: Update WakaReadme
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_PROJECTS: true
          SHOW_EDITORS: true
          SHOW_LANGUAGES: true
          SHOW_LINE_COUNT: true
          BLOCKS: "██████████░░░░░░░░"
          LANG_COUNT: 5
          TIME_RANGE: "last_7_days"
